body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #d3d6db;
}

#gameCanvas {
  border: 2px solid black;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#ad-container {
  display: none;
  justify-content: center;
  position: absolute;
  height: 400px;
  width: 400px;
  align-items: center;
  background: black;
  z-index: 100;

  @media screen and (max-width: 768px) {
    height: 100%;
    width: 100%;
  }
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
}

.gameTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
